<!DOCTYPE html>
<html>
<head>
<title>Demitase</title>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css">


<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script src='/static/js/jquery.js' type='text/javascript' charset="utf-8"></script>
<script src='/static/js/bootstrap.js' type='text/javascript' charset="utf-8"></script>
<script src="/static/js/chart.js" type="text/javascript" charset="utf-8"></script>


{% block head %}
{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>

