<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>Demitase</title>
		<link href="../static/css/bootstrap.css" rel="stylesheet">
		<link href="../static/css/demitase.css" rel="stylesheet">
		<link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target="#navMenu">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="#">DEMITASE</a>
					<div class="nav-collapse" id="navMenu">
						<ul class="nav center">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="aboutTeam.html">About Team</a></li>
							<li><a href="whatsDemitase.html">What's Demitase?</a></li>
						</ul>
						<div class="btn-group pull-right">
							<a class="btn" id="showAllBtn">
								<i class="icon-th-list"></i> Show all
								<span class="caret"></span>
							</a>
							<a class="btn" id="logoutBtn">
								<i class="icon-off"></i> LOGOUT
							</a>
						</div>
					</div>
				</div>
			</div>
		</div><!--End of NavBar-->
		<div class="container bg"><!--Start of Container-->
			<div class="timeline"><!--Start of Timeline-->
				<div class="span3 submenu"><!--Start of Span4-->
					<div class="roundinside" id='selectedKey'>
						<span>Select a KEYWORD</span>
					</div>
					<div class="whole_key btn btn-block" id='sortedKeys' style="display:none;">
						<a class="word"></a>
						<!-- <span class="count_badge badge"></span> -->
					</div>
					<a class="btn btn-link" id='lessMoreKeys' style="display:none">See More</a>
					<div class="roundinside" id='keylistarea'>
						
					</div>

						
				</div><!--End of Span4-->
				<div class="span8 bottom15"><!--Start of Span7-->
					<div class="roundinside" id='msgTemplate' style="display:none;">
						<a data-toggle="modal" class="getInfo">
							<div class='name lightblue'></div>
						</a>
						<div class='content'>
						</div>
						<!-- <span>in this Article, there are </span>
							<a class="key0 btn btn-small"></a>
							<a class="key1 btn btn-small"></a>
							<a class="key2 btn btn-small"></a>
						<span> important keywords</span> -->
					</div>
					<div id='timelinearea'>
					</div>
				</div><!--End of Span7-->
			</div><!--End of Timeline-->
		</div><!--End of Container-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
		</script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1,8.18/jquery-ui.min.js">
		</script>
		<script src="../static/js/bootstrap.js"></script>
		<script src="../static/js/demitase.js"></script>
		<script>
		$(document).ready(function(){
			doGetTimeline();
			$("[id=sortedKeys]").live("click",doSelectKeyword);
			$("#showAllBtn").click(doShowAllTimeline);
			$("#logoutBtn").click(doLogout);
			$("#lessMoreKeys").click(doSeeMoreKeys);
			// $('.MoreBtn', $("#lessMoreKeys")).click(doSeeMoreKeys);
			// $('.Top10Btn', $("#lessMoreKeys")).click(doReloadKeys);
		});
		
		</script>
	</body>
</html>

