/*join page*/

body{
	background-color: #C0DEED;
	padding-top: 60px;
    padding-bottom: 40px;
	font-family:calibri;
}
.row-fluid div[class*="span"] {
	background-color: white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 10px !important;
}

.center{
    text-align:center;
	font-size:16px;
}
.inside{
	margin:10px;
}

.lightblue{
    color:#5b7dc1;
}

/*login page*/

.logincontainer{
	padding:15px;
	margin-top:120px;
}
.between{
	margin-left : 30px;
}
.bg{
	padding:15px;
	background: url('http://bit.ly/MTt30q');
	/*http://cfile8.uf.tistory.com/image/1426B1355023C92334FFB7*/
}
.loginbox{
	height : 200px;
}
.middlemsg{
	 padding-top:80px;
}
.bigfont{
	font-size: 60px;
	font-weight: bold;
}
.width50{
	width:50%;
}


/* timeline page */
.container .brand{
	color : white;	
	font-size : 22px;
}
.timeline {
	padding-top : 5px;
	margin-left : 15px;
	margin-right : 15px;
}
.leftalign {
	text-align:left;
}
.bold {
	font-weight:bold;
}
.content {
	font-weight : bold;
	padding-left : 10px;
	margin-top : 3px;
}
.date {
	color : gray;
	font-size: 12px;
	margin-right:15px;
}
.roundinside{	
	padding : 10px;
	background-color: white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 3px;
}
.bottom15{
	margin-bottom: 15px;
}
.word{
	color: black;
}
.submenu{
	color:#5b7dc1;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
}
.submenu ul{
	margin-top:-7px;
}
.submenu li a{
	font-size:13px;
}
.submenu li a strong{
	display:block;
	line-height:0px;
	margin-top:15px;
}
.search{
	width:70%;
	margin-top:8px;
}

#keylistarea{
    overflow-x: hidden;
    overflow-y: auto;
}

#timelinearea{
    overflow-y: auto;
}
/* profile */

.editbtn{
	float:right;
	margin:20px;
}
.heromargin{
	margin:15px;
}

.hero-unit h1{
	color:#5b7dc1;
	font-size: 80px;
}
.hero-unit h3{
	color:#5b7dc1;
	margin-left:200px;
}
.hero-unit h2{
	color:#5b7dc1;
	font-style:italic;
	margin-top :20px;
	margin-left:20px;
	margin-bottom:-20px;
}
.nav-list h4{
	font-style:italic;
	font-weight:normal;
	font-size:28px;
}
 
/* account */
.accountbox {
	height : 250px;
}
.right10 {
	margin-right : 10px;
}
