body{
	background-color: #E6E6E6;
	padding-top: 50px;
    padding-bottom: 40px;
	font-family:calibri;
}

span, i, div, img, .btn-word{
    /*border-style: solid;*/
    /*border-width: thin;*/
    /*border-color: #000000;*/
}

.brand {
    position: absolute;
}
#logoutBtn{
    font-size: 12pt;
    color: #ffffff;
    line-height: 44px;
    text-align: right;
}

.btn-word{
    position: relative;
    width: 114px;
    height: 35px;
    line-height: 35px;
    font-size: 10pt;
}

.word-count{
    float: right;
    width: 20px;
    text-align: right;
}
.container1{
    position: absolute;
    width: 670px;
    left: 50%;
    margin-left: -335px;
}

#keywordstream{
    float: left;
    width: 146px;
    border-right-style:solid;
    border-right-width:thick;
    border-right-color:#E6E6E6;
}
    
#mainstream{
    width: 518px;    
    margin-left: 146px;
}

#msgTemplate{
    border-bottom: #B3B3B3;
    border-bottom-style: solid;
    border-bottom-width: thin;
}
.timeline {
	padding : 5px;
	margin-left : 15px;
	margin-right : 15px;
}
.date {
	color : gray;
	font-size: 12px;
	margin-right:15px;
}



.roundinside{	
	padding : 18px 12px;
	background-color: white;
/*	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px; */
	/*margin-bottom: 3px;*/
}

.word{
    position: relative;
	color: black;
}

#keylistarea{
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
    padding-left: 14px;
    background-color: #ffffff;
}

#timelinearea{
    overflow-y: auto;
    background-color: #ffffff;
    padding: 0px 16px;
}

#selectedKey{
    background-color: #ffffff;
    padding: 0px 12px 2px 12px;
    font-size: 13pt;
    font-weight: bold;
    color: #212121;
    height: 40px;
    line-height: 40px;
}

#showAllBtn{
    background-color: #ffffff;
    padding: 0px 12px 2px 12px;
    font-size: 11pt;
    color: #212121;
    height: 40px;
    line-height: 40px;
}

.inner {
    border-bottom-style: solid;
    border-bottom-color: #777777;
    border-bottom-width: thin;
}

.userpic {
    position: relative;
    float: left;
    width: 42px;
    height: 42px;
}

.content_box{
    position: relative;
    margin-left: 54px;
}

.time {
    text-align: right;
    font-size: 9pt;
    color: #B3B3B3;
}
    
.name{
    position: relative;
    float: left;
    width: 60%;
    font-size: 12pt;
    font-weight: bold;
    color: #212121;
}

.content {
	font-size: 10pt;
	color: #212121;
	padding-left: 3px;
}